[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = ./collections
gather_facts = false
retry_files_enabled = false
interpreter_python = auto_silent
# Use community.openwrt.setup for hosts with openwrt_gather_facts: true
action_plugins = ./collections/ansible_collections/community/openwrt/plugins/plugin_utils/_setup

[privilege_escalation]
become = false

[ssh_connection]
pipelining = true
scp_if_ssh = true
scp_extra_args = -O
